<div class="wishlist wl-{{@wishlist.uuid}}">
  <div class="wl-name">
    <h3>{{@wishlist.name}}</h3>
  </div>

  <div class="wl-attributes">
    <p class="wl-attributes_items">3 items</p>

    <div class="vertical-divider"></div>

    <p class="wl-attributes_due_date">due at {{@wishlist.due_date}}</p>

    <div class="vertical-divider"></div>

    <p class="wl-attributes_place">{{@wishlist.place}}</p>

    <div class="vertical-divider"></div>

    <span class="badge wl-attributes_status {{@wishlist.status}}">{{@wishlist.status}}</span>
  </div>
</div>