<h1>{{@model.name}}</h1>

<div class="wl-show">
  <div class="card wl-details">
    <div class="wl-details_description">
      <h4 class="subtitle">Description</h4>
      <p class="subtitle_content">{{@model.description}}</p>
    </div>

    <span class="badge wl-details_status {{@model.status}}">{{@model.status}}</span>

    <div class="wl-details_due_date">
      <h4 class="subtitle">Due at</h4>
      <p class="subtitle_content">{{@model.due_date}}</p>
    </div>

    <div class="wl-details_place">
      <h4 class="subtitle">Place to buy</h4>
      <p class="subtitle_content">{{@model.place}}</p>
    </div>
  </div>

  <div class="card wl-items">
    <h3>Items</h3>
  </div>
</div>